
/* .topContainer{
    background-color: #F1CA89;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid black;
}

.middleContainer{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 260px;
    border: 20px solid black;

}

.bottomContainer{
    width: 200px;
    height: 200px;
    background-color: purple;
    margin-left: 500px;
    border: 10px solid black;

} */

/***********************TOP SECTION*********************/

body{
    margin:  0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    line-height: 2;
    color: #66bfbf;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66bfbf;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

span{
    text-decoration:underline;
}

.topContainer{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;

}

.topCloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottomCloud{
    position: absolute;
    left: 250px;
}

/***********************MIDDLE SECTION*********************/

/* .profile-pic{
    width: 25%;
} */
.middleContainer{
    margin: 100px 0;
}

.profile{
    width:30%;
    margin: auto;
}

p{
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;

}

.software-img{
    width: 35%;
    float: left;
    margin-right: 30px;
}

.software-description{
    clear: left;
}

.computer-img{
    width: 35%;
    float: right;
    margin-left: 30px;
}

.computer-description{
    clear: right;
}

hr{
    border-color: #eaf6f6;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 4%;
    margin: 100px auto;
}

.contact-info{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  /***********************BOTTOM SECTION*********************/

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    font-size: 12px;
    height: 100px;
}

a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}